<h2 class="subheader">Checkpoints</h2>
<hr />

<% @checkpoints.each do|c,index| %>
	
	<p><%= c.name %></p>
	
<% end%>

<% if @checkpoints.count == 0 %>

<p>There are no checkpoints available.</p> 

<% end %>
	