<h2 class="subheader">Leaderboard</h2>
<hr />

<% Team.all.each do |t| %>
	<div class="teamprogress" style="position:relative; margin-left:8px; margin-bottom:10px;">
		<div class="row"><p class="small-12 columns" style="margin-bottom:5px; font-weight: bold; font-size: 25px; padding-left: 25px; color:black; z-index:1000; "><%= t.name + " (" + team_points(t).to_s + ")"%></p></div>
		<div class="row" style="position:absolute; width:100%; top:0; z-index:1;">
			<div class="large-12 columns" style="padding-right:0;">
				<div class="progress progress-striped active">
				  <div class="bar" style="width: <%= progress_width(t) %>%;"></div>
				</div>
			</div>
		</div>
	</div>
<% end %>